ul li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

.component-fade-enter-active, .component-fade-leave-active {
    transition: opacity .3s ease;
}

.component-fade-enter, .component-fade-leave-to
    /* .component-fade-leave-active for below version 2.1.8 */
{
    opacity: 0;
}

body {
    font-weight: 400;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}
